@media (max-width: 767px) {

    body {
        background-image: linear-gradient(to left, #5A5A5A 90vw, #ffffff 10vw);
        margin: 0 0 0 0;
    }    

    header {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: 15vw;
    }
    
    section .container-header{
        width: 100vw;
        height: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-bottom: 0%;
    }
    
    .container-logo{
        width: 50vw;
        height: 15vw;
        background-color: #ffffff;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 1vw;
    }
    
    .logo{
        width: 30vw;
    }
    
    .container-menu{
        width: 50vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 4vw;
    }
    
    .dropdown {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    .dropbtn {
        background-image: url(images/menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: rgb(255, 255, 255);
        height: 6vw;
        width: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .dropbtn.clicked {
        background-image: url(images/close.png);
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        height: 6vw;
        width: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .container-dropdown {
        display: none;
        position: absolute;
        background-color: #5a5a5a70;
        backdrop-filter: blur(2px);
        min-width: 50vw;
        z-index: 4;
        margin-left: -52vw;
        margin-top: 46vw;
    }
    
    ul.links {
        margin: 0;
        padding: 0;
        color: #ffffff;
      }
      
    .links li {
        padding: 2vw;
        display: flex;
        justify-content: center;
    }
    
    .links a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .links a[href^="shop"]{
        text-decoration: none;
        background-color: #D71922;
        width: 50vw;
        color: #ffffff;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
        padding: 1vw;
    }
      
    .dropdown:hover .container-dropdown {
        display: block;
    }
    
    .facebook{
        float: right;
        width: 6vw;
        margin: 0% 4vw 0% 0%;
    }
    
    .einkaufswagen-mobile{
        float: right;
        width: 6vw;
        margin: 0% 4vw 0% 0%;
    }

    .einkaufswagen-website{
        display: none;
    }

   .container-kontakt-image{
    width: 100vw;
    height: 40vw;
    display: flex;
   }
   
   .container-kontakt-image img{
    width: 100vw;
    height: 40vw;
    object-fit: cover;
    display: flex;
    object-position: 70% 30%;
}



.container-beratung h3{
    font-size: 5vw;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #D71922;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10vw;
}

.container-beratung p{
    font-size: 4vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-beratung a{
    text-decoration: none;
    width: 100vw;
    color: #ffffff;
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}

.maps{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10vw;
}

.maps iframe{
    border: none;
    width: 95vw;
    height: 60vw;
}

.flipping {
    width: 10vw;
    height: 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
 }
 
 .flipping div {
    animation: flipping-18i5bq 1.5s calc(var(--delay) * 1s) infinite backwards;
    background-color: #d71922;
 }
 
 .flipping div:nth-child(1) {
    --delay: 0.1;
 }
 
 .flipping div:nth-child(2) {
    --delay: 0.2;
 }
 
 .flipping div:nth-child(3) {
    --delay: 0.3;
 }
 
 .flipping div:nth-child(4) {
    --delay: 0.4;
 }
 
 .flipping div:nth-child(5) {
    --delay: 0.5;
 }
 
 .flipping div:nth-child(6) {
    --delay: 0.6;
 }
 
 .flipping div:nth-child(7) {
    --delay: 0.7;
 }
 
 .flipping div:nth-child(8) {
    --delay: 0.8;
 }
 
 .flipping div:nth-child(9) {
    --delay: 0.9;
 }

}







@media (min-width: 768px) and (max-width: 1023px){
    body {
        height: 100vw;
        background-color: white;
        margin: 0 0 0 0;
    }

    header {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: auto;
    }
    
    section .container-header{
        width: 100vw;
        height: auto;
        background-color: rgb(13, 22, 104);
        display: flex;
        margin-bottom: 0%;
    }
    
    .container-logo{
        width: 50vw;
        height: 8vw;
        background-color: #ffffff;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 1vw;
    }
    
    .logo{
        width: 15vw;
    }
    
    .container-menu{
        width: 50vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 5vw;
        
    }

      
    .dropbtn {
        display: none;
    }

    .dropdown{
        width: 30vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        text-align: left;
        justify-content: left;
    }
      
    .container-dropdown {
        width: 30vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        text-align: left;
        justify-content: left;
    }

    ul.links{
        width: 100vw;
        padding: 0%;
        padding-left: 0%;
    }

    ul li {
        float: left;
        display: flex;
        text-align: left;
        justify-content: left;
        padding-left: 0%;
        padding: 0%;
    }
      
    .links li {
        float: left;
        display: flex;
        text-align: left;
        justify-content: left;
        padding-left: 2vw;
    }
    
    .links a{
        color: #000000;
        font-weight: lighter;
        font-size: 1.4vw;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        justify-content: left;
        display: flex;
        text-decoration: none;
    }

    .links a:hover{
        color: #D71922;
    }

    .container-menu b{
        width: 5vw
    }
    
    .facebook{
        float: right;
        display: flex;
        background-color: white;
        width: 2.2vw;
        margin: 0% 0% 0% 0%;
    }
    
    .einkaufswagen-mobile{
        display: none;
    }

    .einkaufswagen-website{
        float: right;
        width: 2.2vw;
        margin: 0% 0% 0% 0%;
        background-color: white;
    }

    nav {
        width: 100vw;
        height: auto;
        background-image: linear-gradient(to left, #5A5A5A 90vw, #ffffff 10vw);
        padding-bottom: 0vw;
    }

    .container-kontakt-image{
        width: 100vw;
        height: 35vw;
        display: flex;
       }
       
       .container-kontakt-image img{
        width: 100vw;
        height: 35vw;
        object-fit: cover;
        display: flex;
        object-position: 70% 30%;
    }

    .container-beratung h3{
        font-size: 2vw;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #D71922;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .container-beratung p{
        font-size: 1.5vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .container-beratung a{
        text-decoration: none;
        width: 100vw;
        color: #ffffff;
        font-weight: lighter;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
    }

    .maps{

        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4vw;
        margin-bottom: 10vw;
    }
    
    .maps iframe{
        border: none;
        width: 90vw;
        height: 30vw;
        margin-bottom: 10vw;
    }

    .flipping {
        width: 10vw;
        height: 10vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
     }
     
     .flipping div {
        animation: flipping-18i5bq 1.5s calc(var(--delay) * 1s) infinite backwards;
        background-color: #d71922;
     }
     
     .flipping div:nth-child(1) {
        --delay: 0.1;
     }
     
     .flipping div:nth-child(2) {
        --delay: 0.2;
     }
     
     .flipping div:nth-child(3) {
        --delay: 0.3;
     }
     
     .flipping div:nth-child(4) {
        --delay: 0.4;
     }
     
     .flipping div:nth-child(5) {
        --delay: 0.5;
     }
     
     .flipping div:nth-child(6) {
        --delay: 0.6;
     }
     
     .flipping div:nth-child(7) {
        --delay: 0.7;
     }
     
     .flipping div:nth-child(8) {
        --delay: 0.8;
     }
     
     .flipping div:nth-child(9) {
        --delay: 0.9;
     }

}








@media (min-width: 1024px){

    body {
        height: 100vw;
        background-color: white;
        margin: 0 0 0 0;
    }

    header {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: auto;
    }
    
    section .container-header{
        width: 100vw;
        height: auto;
        background-color: rgb(13, 22, 104);
        display: flex;
        margin-bottom: 0%;
    }
    
    .container-logo{
        width: 50vw;
        height: 8vw;
        background-color: #ffffff;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 1vw;
    }
    
    .logo{
        width: 15vw;
    }
    
    .container-menu{
        width: 50vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 5vw;
        
    }

      
    .dropbtn {
        display: none;
    }

    .dropdown{
        width: 30vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        text-align: left;
        justify-content: left;
    }
      
    .container-dropdown {
        width: 30vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        text-align: left;
        justify-content: left;
    }

    ul.links{
        width: 100vw;
        padding: 0%;
        padding-left: 0%;
    }

    ul li {
        float: left;
        display: flex;
        text-align: left;
        justify-content: left;
        padding-left: 0%;
        padding: 0%;
    }
      
    .links li {
        float: left;
        display: flex;
        text-align: left;
        justify-content: left;
        padding-left: 2vw;
    }
    
    .links a{
        color: #000000;
        font-weight: lighter;
        font-size: 1.4vw;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        justify-content: left;
        display: flex;
        text-decoration: none;
    }

    .links a:hover{
        color: #D71922;
    }

    .container-menu b{
        width: 5vw
    }
    
    .facebook{
        float: right;
        display: flex;
        background-color: white;
        width: 2.2vw;
        margin: 0% 0% 0% 0%;
    }
    
    .einkaufswagen-mobile{
        display: none;
    }

    .einkaufswagen-website{
        float: right;
        width: 2.2vw;
        margin: 0% 0% 0% 0%;
        background-color: white;
    }

    nav {
        width: 100vw;
        height: auto;
        background-image: linear-gradient(to left, #5A5A5A 90vw, #ffffff 10vw);
        padding-bottom: 0vw;
    }

    .container-kontakt-image{
        width: 100vw;
        height: 35vw;
        display: flex;
        text-align: center;
        justify-content: center;
       }
       
       .container-kontakt-image img{
        width: 100vw;
        height: 35vw;
        object-fit: cover;
        display: flex;
        object-position: 70% 30%;
    }

    .container-beratung h3{
        font-size: 2vw;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #D71922;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .container-beratung p{
        font-size: 1.5vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .container-beratung a{
        text-decoration: none;
        width: 100vw;
        color: #ffffff;
        font-weight: lighter;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
    }

    .maps{

        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4vw;
        margin-bottom: 10vw;
    }
    
    .maps iframe{
        border: none;
        width: 90vw;
        height: 30vw;
        margin-bottom: 10vw;
    }

    .flipping {
        width: 10vw;
        height: 10vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
     }
     
     .flipping div {
        animation: flipping-18i5bq 1.5s calc(var(--delay) * 1s) infinite backwards;
        background-color: #d71922;
     }
     
     .flipping div:nth-child(1) {
        --delay: 0.1;
     }
     
     .flipping div:nth-child(2) {
        --delay: 0.2;
     }
     
     .flipping div:nth-child(3) {
        --delay: 0.3;
     }
     
     .flipping div:nth-child(4) {
        --delay: 0.4;
     }
     
     .flipping div:nth-child(5) {
        --delay: 0.5;
     }
     
     .flipping div:nth-child(6) {
        --delay: 0.6;
     }
     
     .flipping div:nth-child(7) {
        --delay: 0.7;
     }
     
     .flipping div:nth-child(8) {
        --delay: 0.8;
     }
     
     .flipping div:nth-child(9) {
        --delay: 0.9;
     }
}

#preloader{
    background: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

@keyframes flipping-18i5bq {
    0% {
       transform: perspective(105.6px) rotateX(-90deg);
    }
 
    50%, 75% {
       transform: perspective(105.6px) rotateX(0);
    }
 
    100% {
       opacity: 0;
       transform: perspective(105.6px) rotateX(0);
    }
 }
