@media (max-width: 767px){
    body {
        background-image: linear-gradient(to left, #5A5A5A 90vw, #ffffff 10vw);
        margin: 0 0 0 0;
    }    

    header {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: 15vw;
    }
    
    section .container-header{
        width: 100vw;
        height: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-bottom: 0%;
    }
    
    .container-logo{
        width: 50vw;
        height: 15vw;
        background-color: #ffffff;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 1vw;
    }
    
    .logo{
        width: 30vw;
    }
    
    .container-menu{
        width: 50vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 4vw;
    }
    
    .dropdown {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    .dropbtn {
        background-image: url(images/menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: rgb(255, 255, 255);
        height: 6vw;
        width: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .dropbtn.clicked {
        background-image: url(images/close.png);
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        height: 6vw;
        width: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .container-dropdown {
        display: none;
        position: absolute;
        background-color: #5a5a5a70;
        backdrop-filter: blur(2px);
        min-width: 50vw;
        z-index: 4;
        margin-left: -52vw;
        margin-top: 46vw;
    }
    
    ul.links {
        margin: 0;
        padding: 0;
        color: #ffffff;
      }
      
    .links li {
        padding: 2vw;
        display: flex;
        justify-content: center;
    }
    
    .links a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .links a[href^="shop"]{
        text-decoration: none;
        background-color: #D71922;
        width: 50vw;
        color: #ffffff;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
        padding: 1vw;
    }
      
    .dropdown:hover .container-dropdown {
        display: block;
    }
    
    .facebook{
        float: right;
        width: 6vw;
        margin: 0% 4vw 0% 0%;
    }
    
    .einkaufswagen-mobile{
        float: right;
        width: 6vw;
        margin: 0% 4vw 0% 0%;
    }
    
    .einkaufswagen-website{
        display: none;
    }

    nav {
        width: 100vw;
        height: auto;
        background-image: linear-gradient(to left, #5A5A5A 90vw, #ffffff 10vw);
        padding-bottom: 10vw;
    }

    section .container-image-ueberschrift  {
        display: flex;
    }
    
    .container-leistungen-image{
        width: 100vw;
        height: 20vw;
        display: flex;
    }
    
    .container-leistungen-image img{
        width: 130vw;
        height: 40vw;
        object-fit: cover;
        filter: brightness(80%)
    }
    
    .container-h1 {
        display: flex;
        width: 100vw;
        height: 40vw;
        justify-content: center;
        align-items: center;
        background-color: aqua;
    }
    
    h1{
        position:absolute;
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 6vw;
        margin-left: -90vw;
        margin-top: 0vw;
        justify-content: center;
        align-items: center;
        padding-right: 10vw;
    }

    .container-leistungen{
        background-color: #797979d5;
        text-align: center;        
        justify-content: center;
        align-items: center;
        padding-bottom: 4vw;
    }

    h2{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-top: 1vw;
    }

    .container-leistungen p{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-size: 3vw;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .container-leistungen li{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-size: 3vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 1vw;
    }

    .flipping {
        width: 10vw;
        height: 10vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
     }
     
     .flipping div {
        animation: flipping-18i5bq 1.5s calc(var(--delay) * 1s) infinite backwards;
        background-color: #d71922;
     }
     
     .flipping div:nth-child(1) {
        --delay: 0.1;
     }
     
     .flipping div:nth-child(2) {
        --delay: 0.2;
     }
     
     .flipping div:nth-child(3) {
        --delay: 0.3;
     }
     
     .flipping div:nth-child(4) {
        --delay: 0.4;
     }
     
     .flipping div:nth-child(5) {
        --delay: 0.5;
     }
     
     .flipping div:nth-child(6) {
        --delay: 0.6;
     }
     
     .flipping div:nth-child(7) {
        --delay: 0.7;
     }
     
     .flipping div:nth-child(8) {
        --delay: 0.8;
     }
     
     .flipping div:nth-child(9) {
        --delay: 0.9;
     }
}











@media (min-width: 768px) and (max-width: 1023px){
    body {
        background-color: white;
        margin: 0 0 0 0;
    }    
    
    header {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: auto;
    }
    
    section .container-header{
        width: 100vw;
        height: auto;
        background-color: rgb(13, 22, 104);
        display: flex;
        margin-bottom: 0%;
    }
    
    .container-logo{
        width: 50vw;
        height: 8vw;
        background-color: #ffffff;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 1vw;
    }
    
    .logo{
        width: 15vw;
    }
    
    .container-menu{
        width: 50vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 5vw;
        
    }

      
    .dropbtn {
        display: none;
    }

    .dropdown{
        width: 30vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        text-align: left;
        justify-content: left;
    }
      
    .container-dropdown {
        width: 30vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        text-align: left;
        justify-content: left;
    }

    ul.links{
        width: 100vw;
        padding: 0%;
        padding-left: 0%;
    }

    ul li {
        float: left;
        display: flex;
        text-align: left;
        justify-content: left;
        padding-left: 0%;
        padding: 0%;
    }
      
    .links li {
        float: left;
        display: flex;
        text-align: left;
        justify-content: left;
        padding-left: 2vw;
    }
    
    .links a{
        color: #000000;
        font-weight: lighter;
        font-size: 1.4vw;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        justify-content: left;
        display: flex;
        text-decoration: none;
    }

    .links a:hover{
        color: #D71922;
    }

    .container-menu b{
        width: 5vw
    }
    
    .facebook{
        float: right;
        display: flex;
        background-color: white;
        width: 2.2vw;
        margin: 0% 0% 0% 0%;
    }
    
    .einkaufswagen-mobile{
        display: none;
    }

    .einkaufswagen-website{
        float: right;
        width: 2.2vw;
        margin: 0% 0% 0% 0%;
        background-color: white;
    }

    nav {
        width: 100vw;
        height: auto;
        background-image: linear-gradient(to left, #5A5A5A 90vw, #ffffff 10vw);
        padding-bottom: 0vw;
    }

    section .container-image-ueberschrift  {
        display: flex;
    }
    
    .container-image-ueberschrift{
        width: 100vw;
        height: 30vw;
        display: flex;
    }
    
    .container-image-ueberschrift img{
        width: 60vw;
        height: 30vw;
        object-fit: cover;
        filter: brightness(90%)
    }
    
    .container-h1 {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    
    h1{
        position:absolute;
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5vw;
        margin-left: -55vw;
        justify-content: center;
        align-items: center;
        padding-right: 1vw;
    }

    .right{
        display: flex;
        text-align: center;        
        justify-content: right;
        align-items: center;
        margin-right: 8vw;
    }

    .left{
        display: flex;
        text-align: center;        
        justify-content: left;
        align-items: center;
        margin-left: 8vw;
    }

    .container-leistungen{
        background-color: #797979d5;
        margin-top: 2vw;
        padding-bottom: 4vw;
        width: 50vw;
    }

    h2{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-top: 1vw;
        font-size: 2vw;
        text-align: center;
    }

    .container-leistungen p{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-weight: bold;
        font-size: 1vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 2vw;
    }

    .container-leistungen li{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-size: 1vw;
        font-weight: bold;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 1vw;
    }

    .flipping {
        width: 10vw;
        height: 10vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
     }
     
     .flipping div {
        animation: flipping-18i5bq 1.5s calc(var(--delay) * 1s) infinite backwards;
        background-color: #d71922;
     }
     
     .flipping div:nth-child(1) {
        --delay: 0.1;
     }
     
     .flipping div:nth-child(2) {
        --delay: 0.2;
     }
     
     .flipping div:nth-child(3) {
        --delay: 0.3;
     }
     
     .flipping div:nth-child(4) {
        --delay: 0.4;
     }
     
     .flipping div:nth-child(5) {
        --delay: 0.5;
     }
     
     .flipping div:nth-child(6) {
        --delay: 0.6;
     }
     
     .flipping div:nth-child(7) {
        --delay: 0.7;
     }
     
     .flipping div:nth-child(8) {
        --delay: 0.8;
     }
     
     .flipping div:nth-child(9) {
        --delay: 0.9;
     }
}










@media (min-width: 1024px){
    body {
        background-color: white;
        margin: 0 0 0 0;
    }    
    
    header {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: auto;
    }
    
    section .container-header{
        width: 100vw;
        height: auto;
        background-color: rgb(13, 22, 104);
        display: flex;
        margin-bottom: 0%;
    }
    
    .container-logo{
        width: 50vw;
        height: 8vw;
        background-color: #ffffff;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 1vw;
    }
    
    .logo{
        width: 15vw;
    }
    
    .container-menu{
        width: 50vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 5vw;
        
    }

      
    .dropbtn {
        display: none;
    }

    .dropdown{
        width: 30vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        text-align: left;
        justify-content: left;
    }
      
    .container-dropdown {
        width: 30vw;
        height: auto;
        background-color: #ffffff;
        display: flex;
        text-align: left;
        justify-content: left;
    }

    ul.links{
        width: 100vw;
        padding: 0%;
        padding-left: 0%;
    }

    ul li {
        float: left;
        display: flex;
        text-align: left;
        justify-content: left;
        padding-left: 0%;
        padding: 0%;
    }
      
    .links li {
        float: left;
        display: flex;
        text-align: left;
        justify-content: left;
        padding-left: 2vw;
    }
    
    .links a{
        color: #000000;
        font-weight: lighter;
        font-size: 1.4vw;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        justify-content: left;
        display: flex;
        text-decoration: none;
    }

    .links a:hover{
        color: #D71922;
    }

    .container-menu b{
        width: 5vw
    }
    
    .facebook{
        float: right;
        display: flex;
        background-color: white;
        width: 2.2vw;
        margin: 0% 0% 0% 0%;
    }
    
    .einkaufswagen-mobile{
        display: none;
    }

    .einkaufswagen-website{
        float: right;
        width: 2.2vw;
        margin: 0% 0% 0% 0%;
        background-color: white;
    }

    nav {
        width: 100vw;
        height: auto;
        background-image: linear-gradient(to left, #5A5A5A 90vw, #ffffff 10vw);
        padding-bottom: 5vw;
    }

    section .container-image-ueberschrift  {
        display: flex;
    }
    
    .container-image-ueberschrift{
        width: 100vw;
        height: 30vw;
        display: flex;
    }
    
    .container-image-ueberschrift img{
        width: 60vw;
        height: 30vw;
        object-fit: cover;
    }
    
    .container-h1 {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    
    h1{
        position:absolute;
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5vw;
        margin-left: -55vw;
        justify-content: center;
        align-items: center;
        padding-right: 1vw;
    }

    .right{
        display: flex;
        text-align: center;        
        justify-content: right;
        align-items: center;
        margin-right: 8vw;
    }

    .left{
        display: flex;
        text-align: center;        
        justify-content: left;
        align-items: center;
        margin-left: 8vw;
    }

    .container-leistungen{
        background-color: #797979d5;
        margin-top: 2vw;
        padding-bottom: 4vw;
        width: 50vw;
    }

    h2{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-top: 1vw;
        font-size: 2vw;
        font-weight: bolder;
        text-align: center;
    }

    .container-leistungen p{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-weight: bold;
        font-size: 1vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 2vw;
    }

    .container-leistungen li{
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-size: 1vw;
        font-weight: bold;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 1vw;
    }

    .flipping {
        width: 10vw;
        height: 10vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
     }
     
     .flipping div {
        animation: flipping-18i5bq 1.5s calc(var(--delay) * 1s) infinite backwards;
        background-color: #d71922;
     }
     
     .flipping div:nth-child(1) {
        --delay: 0.1;
     }
     
     .flipping div:nth-child(2) {
        --delay: 0.2;
     }
     
     .flipping div:nth-child(3) {
        --delay: 0.3;
     }
     
     .flipping div:nth-child(4) {
        --delay: 0.4;
     }
     
     .flipping div:nth-child(5) {
        --delay: 0.5;
     }
     
     .flipping div:nth-child(6) {
        --delay: 0.6;
     }
     
     .flipping div:nth-child(7) {
        --delay: 0.7;
     }
     
     .flipping div:nth-child(8) {
        --delay: 0.8;
     }
     
     .flipping div:nth-child(9) {
        --delay: 0.9;
     }
}

#preloader{
    background: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

@keyframes flipping-18i5bq {
    0% {
       transform: perspective(10vw) rotateX(-90deg);
    }
 
    50%, 75% {
       transform: perspective(10vw) rotateX(0);
    }
 
    100% {
       opacity: 0;
       transform: perspective(10vw) rotateX(0);
    }
 }